<div class="row">
  <div class="col-md-12">
    <h2>Related <strong>Products</strong></h2>
  </div>
  <ul class="products product-thumb-info-list">
    <%= for product <- related_products(@product.category.slug) do %>
      <li class="col-sm-3 col-xs-12 product">
        <%= render ShopWeb.PartialsView, "products/_item.html", conn: @conn, product: product %>
      </li>
    <% end %>
  </ul>
</div>
